/* variables */
:root {
  --light:#EEF5F5;
  --lightblue:#97bcf7;
  --sapphire:#0f52ba;
  --dark-blue:#093373;
  --dark:#020b18;
  --turquoise:rgba(0, 240, 248, 0.76);
}

* {
  box-sizing: border-box;
}

/* Extract colos to CSS Variables */

body {
  background-color: var(--light);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Calistoga', cursive;
}


header {
  background-color: var(--sapphire);
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-wrapper h1 {
  margin: 0;
  background-color: var(--dark);
  padding: 20px 15px;
}

.header-wrapper h1 a {
  color: var(--light);
  text-decoration: none;
}

.header-wrapper nav {
  margin-left: auto;
  display: flex;
  flex-wrap: auto;
  justify-content: center;
}

.header-wrapper nav a {
  color: var(--light);
  padding: 0 15px;
  font-size: 20px;
  text-decoration: none;
  border-right: 2px solid var(--lightblue);
}

.header-wrapper nav a:last-child {
  border-right: none;
}

.wrapper {
  width: 1024px;
  margin: 40px auto;
}

#main-content{
  width: 80%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--turquoise);
  border-radius: 5px;
  font-size: 35px;

}

#main-content {
  float: left;
  color: var(--light);
  background: var(--dark-blue);
}
